PORT=3000
HOST=0.0.0.0

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=aptuser
POSTGRES_PASSWORD=aptpassword
POSTGRES_DB=aptdb

REPLICATION_SLOT_NAME=orders_slot
PUBLICATION_NAME=orders_pub
REPLICATION_RECONNECT_DELAY_S=3.0
SSE_HEARTBEAT_INTERVAL_S=20.0
